<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Projeto Final - Fundamentos AWS">
    <title>Currículos</title>
    <link rel="icon" href="/assets/iconfundamentos.jpg">
    <link rel="stylesheet" href="/components/curriculo.css">
    <link rel="stylesheet" href="/components/mobile.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
</head>
<body>
    <header class="cabeçalho">
        <nav class="container-cabeçalho">
            <img class="img-cabeçalho" src="/assets/nuvem.png" alt="logo da Escola da Nuvem">
            <ul class="menu-cabeçalho">
                <li><a class="menu-link" href="/index.html">Currículos</a></li>
            </ul>
        </nav>
    </header>

    <main class="conteudo">
        <section class="conteudo-principal">
            <h1>PAULO MARCELO CHAVES DOS SANTOS</h1>
            <p>
                Pau da Lima - Salvador - Bahia
            </p>
            <p>
                E-mail: marcelock3@gmail.com / Tel: (71) 98123-9059                
            </p> 
            <p>
                LinkedIn: <a href="https://www.linkedin.com/in/marcelo-chaves-00215271/">https://www.linkedin.com/in/marcelo-chaves-00215271/</a> 
            </p>
        </section>

        <section class="objetivo">
            <h3 class="titulo">DESENVOLVEDOR FULL STACK</h3>
            <hr>
            <ul class="resumo">
                <li>
                   Cursando Full Stack no Programa Desenvolve - Grupo Boticário com previsão de conclusão em julho de 2023
                </li> 
                <li>
                    Cursando Fundamentos AWS com previsão de conclusão em março de 2023
                </li>                
                <li>
                    Desenvolvedor Front End, com conhecimento em HTML, CSS, Angular e GitHub
                </li>                
                <li>
                    Graduando em Engenharia de Controle e Automação
                </li>                
            </ul>
        
            <h3>EXPERIÊNCIA PROFISSIONAL</h3>
            <hr>
            <div class="empresas">
                <p>MULTIPLA TECNOLOGIA LTDA</p>
                <p class="datas">Abr/2015 - Dez/2015</p>
            </div>
            <p class="cargo">Auxiliar Técnico em Eletro-Eletrônica</p>
            <ul class="descrição-cargo">
                <li>
                    Atividades exercidas: Montagem e instalação de painéis de automação e elétrica,
                    manutenção e startup em obras da empresa, projetos no AutoCAD (CAG, Diagrama de
                    interligação).
                </li>                              
            </ul>
            <div class="empresas">
                <p>REDEFONE LTDA</p>
                <p class="datas">Ago/2013 - Fev/2014</p>
            </div>                
            <p class="cargo">Vendedor Externo</p>
            <ul class="descrição-cargo">
                <li>
                    Atividades exercidas: Focado em nutrir relações com os clientes, fui responsável por um
                    setor (alguns bairros da cidade) onde fornecia chips, créditos, cartões telefônicos e dando
                    suporte aos serviços oferecidos pela Oi Telefonia Móvel.
                </li>                              
            </ul>
            <div class="empresas">
                <p>MULTIPLA TECNOLOGIA LTDA</p>
                <p class="datas">Abr/2015 - Dez/2015</p>
            </div>                
            <p class="cargo">Auxiliar Técnico em Eletro-Eletrônica</p>
            <ul class="descrição-cargo">
                <li>
                    Atividades exercidas: Montagem e instalação de painéis de automação e elétrica,
                    manutenção e startup em obras da empresa, projetos no AutoCAD (CAG, Diagrama de
                    interligação).
                </li>                              
            </ul>
            <div class="empresas">
                <p>CRISTAL GLOBAL / MILLENNIUM (ATUAL: TRONOX)</p>
                <p class="datas">Jul/2012 - Dez/2012</p>
            </div>                
            <p class="cargo">Estágio Curricular</p>
            <ul class="descrição-cargo">
                <li>
                    Projeto Final de Curso (PFC) como avaliação para formação técnica, onde atualizamos pelo AutoCAD o fluxograma de engenharia dos processos de Sulfatação e Mistura e padronizamos a simbologia utilizada no PI&D para norma ISA.
                </li>                             
            </ul>
        
            <h3>EDUCAÇÃO</h3>
            <hr>
            <div class="academico">
                <p>Graduação em Engenharia de Controle e Automação - Área 1 - Salvador</p>
                <p class="datas">Mar/2015 - Dez/2023</p>
            </div>
            <div class="academico">
                <p>Técnico em Automação Industrial - SENAI CETIND - Lauro de Freitas</p>
                <p class="datas">Dez/2012</p>
            </div>
            <div class="academico">
                <p>Inglês - Alura Língua</p>
                <p class="datas">Fev/2023 - Atual</p>
            </div>
            
            <h3>CURSOS</h3>
            <hr>
            <div class="cursos">
                <p>Fundamentos AWS</p>
                <div class="curso">
                    <p>- Escola da Nuvem</p>
                    <p class="datas">2023</p>
                </div>
            </div>
            <div class="cursos">
                <p>Desenvolvedor Full Stack</p>
                <div class="curso">
                    <p>- Grupo Boticário / Alura</p>
                    <p class="datas">2023</p>
                </div>
            </div>
            <div class="cursos">
                <p>Desenvolvedor Front-End</p>
                <div class="curso">
                    <p>- BRQ/Edusync</p>
                    <p class="datas">2022</p>
                </div>
            </div>
            <div class="cursos">
                <p>Power BI</p>
                <div class="curso">
                    <p>- Udemy</p>
                    <p class="datas">2022</p>
                </div>
            </div>
            <div class="cursos">
                <p>SQL</p>
                <div class="curso">
                    <p>- SoftBlue</p>
                    <p class="datas">2022</p>
                </div>
            </div>
            <div class="cursos">
                <p>Python</p>
                <div class="curso">
                    <p>- Udemy</p>
                    <p class="datas">2022</p>
                </div>
            </div>
            <div class="cursos">
                <p>Excel básico ao avançado</p>
                <div class="curso">
                    <p>- Udemy</p>
                    <p class="datas">2021</p>
                </div>
            </div>
            <div class="cursos">
                <p>Macros VBA</p>
                <div class="curso">
                    <p>- Udemy</p>
                    <p class="datas">2021</p>
                </div>
            </div>
            <div class="cursos">
                <p>Lean Manufacturing</p>
                <div class="curso">
                    <p>- Voitto</p>
                    <p class="datas">2021</p>
                </div>
            </div>
            <div class="cursos">
                <p>Ferramentas de Processo e Qualidade</p>
                <div class="curso">
                    <p>- Udemy</p>
                    <p class="datas">2021</p>
                </div>
            </div>
            <div class="cursos">
                <p>TPM (Manutenção Produtiva Total) e OE</p>
                <div class="curso">
                    <p>- Udemy</p>
                    <p class="datas">2021</p>
                </div>
            </div>
            <div class="cursos">
                <p>White Belt</p>
                <div class="curso">
                    <p>- Voitto</p>
                    <p class="datas">2021</p>
                </div>
            </div>
            <div class="cursos">
                <p>Inteligência Emocional</p>
                <div class="curso">
                    <p>- Conquer</p>
                    <p class="datas">2021</p>
                </div>
            </div>
            
            <h3>FERRAMENTAS DE TECNOLOGIA</h3>
            <hr>
            <table>
                <thead>
                    <th>HTML</th>
                    <th>CSS</th>
                    <th>TypeScript</th>
                    <th>GitHub</th>
                </thead>
                <thead>
                    <th>Angular</th>
                    <th>AWS</th>
                    <th>Power BI</th>
                    <th>SQL</th>
                </thead>
                <thead>
                    <th>Python</th>
                    <th>Office</th>
                    <th>JavaScript</th>
                    <th>AutoCAD</th>
                </thead>
            </table>

            <h3>OUTRAS ATIVIDADES</h3>
            <hr>
            <div class="atividades">
                <div class="local">
                    <p>Trabalho Social</p>
                    <p>- Lar Vida - Salvador</p>
                </div>
                <p class="datas">Semestral</p>
            </div>
            <ul class="resumo">
                <li>
                    Projeto de arrecadação de alimentos não perecíveis, roupas, brinquedos e produtos de limpeza/higiene para ajudar o Abrigo Lar Vida que cuida de crianças, adolescentes e adultos com deficiência.
                </li>
            </ul>  
            <div class="atividades">
                <div class="local">
                    <p>Voluntário</p>
                    <p>- Salvador - BA</p>
                </div>
                <p class="datas">Semanal</p>
            </div>                
            <ul class="resumo">
                <li>
                    Projeto Mingau Solidário Auta de Souza para distribuição de comida às pessoas em vulnerabilidade social em Salvador.
                </li>
            </ul>
            <h3>DADOS PESSOAIS</h3>
            <hr>
            <p>Brasileiro, 35 anos e solteiro.</p>            
        </section>
    </main>
</body>
</html>