/* versão Desktop */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    width: 100%;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
}

.cabeçalho {
    width: 100%;
    height: 100px;
    margin: 0 auto;
    display: flex;
    background-color: #33475B;
}

.container-cabeçalho {
    width: 1408px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 0 16px;
}

.menu-cabeçalho {
    display: flex;
    gap: 30px;
    list-style-type: none;
    align-items: center;
}

.menu-link {
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
}

.menu-link:hover {
    color: #27dcdc;
    text-decoration: underline;
}

.conteudo {
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 50px 32px;
}

.conteudo-principal {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 8px;
}

.linkedin {
    list-style-type: none;
}

.objetivo {
    width: 100%;
    display: flex;
    flex-direction: column;
}

h3 {
    margin-top: 24px;
}

.titulo {
    text-align: center;
}

hr {
    margin-bottom: 16px;
}

.resumo {
    margin-left: 16px;
    margin-bottom: 8px;
}

.empresas {
    display: flex;
    justify-content: space-between;
}

.datas {
    font-weight: bold;
}

.cargo {
    font-weight: bold;
}

.descrição-cargo {
    margin-left: 50px;
    margin-bottom: 10px;
}

.academico {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 8px;
}

.cursos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.curso {
    width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.atividades {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.local {
    width: 280px;
    display: flex;
    flex-direction: row;
    gap: 5px;
}