/* responsivo das resoluções 1024px */
@media(max-width: 1024px) {
    .container-cabeçalho {
        width: 992px;
        padding: 0 16px;
    }

    .menu-link {
        font-size: 16px;
    }
    
    .curso {
        max-width: 300px;
        display: flex;
        flex-direction: row;
    }

    .objetivo p {
        font-size: 14px;
    }

    .descrição-cargo li {
        font-size: 14px;
    }

    th {
        font-size: 14px;
    }

    .resumo-atividade li {
        font-size: 14px;
    }

    .academico-escola {
        width: 300px;
    }
}

/* responsivo das resoluções 516px */
@media(max-width: 516px) {
    .cabeçalho {
        height: 75px;
    }
    .container-cabeçalho {
        width: 500px;
        padding: 0 8px;
    }

    .img-cabeçalho {
        height: 75px;
    }

    .menu-link {
        font-size: 16px;
    }

    .conteudo {
        max-width: 500px;
        padding: 50px 16px;
    }

    .conteudo-principal h1 {
        font-size: 16px;
    }

    .conteudo-principal p {
        font-size: 14px;
        text-align: center;
    }

    .conteudo-principal-robson {
        width: 230px;
    }
    
    .conteudo-principal-angelo {
        width: 250px;
    }

    .conteudo-principal-fabio {
        width: 260px;
    }

    .conteudo-principal-marcelo {
        width: 230px;
    }

    .conteudo-principal-rodrigo {
        width: 260px;
    }

    .conteudo-principal-valdemar {
        width: 260px;
    }

    h3 {
        font-size: 14px;
        margin-top: 16px;
    }

    .resumo li {
        font-size: 14px;
    }

    .empresas {
        font-size: 14px;
    }

    .empresas-nome {
        width: 300px;
    }

    .datas {
        width: 80px;
        text-align: center;
        font-size: 12px !important;
    }

    .objetivo p {
        font-size: 14px;
    }

    .descrição-cargo li {
        font-size: 14px;
    }

    .cursos-nome {
        width: 120px;
    }

    .curso {
        width: 180px;
        justify-content: space-between;
    }

    p.datas {
        width: 100px;
        text-align: end;
    }

    th {
        font-size: 12px;
    }

    .academico-escola {
        width: 280px;
    }
}